.card{
    display: flex;
    background-color: white;
    margin: 2rem auto;
    width:40%;
    border: 0.2rem solid burlywood;
    border-radius: 1rem;
    padding: 2rem;
    justify-content: space-around;
}