.form{
    margin: 1rem auto;
    display: flex;
    width: 100%;
}

.form h2{

}
.fields{
    display: flex;
    flex-direction: column;
}

.field{
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5rem;
}

.field input{
    font-size: larger;
}

.error-text{
    color: red;
    font-style: bold;
}