@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  --lightcolor: black;
  --darkcolor: rgb(184, 51, 51);
  --darkhovercolor: rgb(15, 133, 33);
  background-color: var(--lightcolor);
  font-family: 'Open Sans', sans-serif;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
}
