@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  --lightcolor: bisque;
  --darkcolor: brown;
  background-color: var(--lightcolor);
  font-family: 'Open Sans', sans-serif;
}

